:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.my-projects-container {
  padding: 20px;
  margin: 20px;
}

/* Page header styling */
.page-header h1 {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.page-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: left;
}

/* Projects board container styling */
.projects-board {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
}

/* Board header row with light gray background */
.board-header {
  display: flex;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  background-color: #f2f2f2; /* Light gray */
}

.board-header .column {
  flex: 1;
  text-align: left;
}

/* Project item styling */
.project-item {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

/* Row styling */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Column styling */
.column {
  flex: 1;
  padding: 5px;
  text-align: left;
}

/* Project image styling */
.project-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Action column styling */
.column.action {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.column.action button {
  width: 150px; /* Ensures all buttons are the same width */
  text-align: center;
  background-color: rgb(250, 79, 0);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.column.action button:hover {
  background-color: rgb(207, 77, 17);
}
