<app-header-public></app-header-public>

<!-- First Section: Welcome + Join Button + Image -->
<div class="main-content">
  <div class="left-section">
    <h1 class="title">Welcome to Collabfy</h1>
    <p class="subtitle">
      Dive into a world where innovation meets collaboration. Discover projects that redefine creativity and teamwork.
    </p>
    <!-- Orange Join button -->
    <button class="join-button" (click)="goToCreateAccount()">Join our Community</button>
  </div>
  <div class="right-section">
    <img src="/assets/images/main_page/mainp_img1.jpg" alt="Collaboration Image" class="image1" />
  </div>
</div>

<!-- Second Section: The Journey Ahead -->
<div class="main-content journey-section">
  <div class="right-section">
    <img src="/assets/images/main_page/mainp_img2.jpg" alt="Journey Image" class="image2" />
  </div>
  <div class="left-section">
    <h2 class="title">The Journey Ahead</h2>
    <p class="subtitle">
      Embark on exciting new ventures and collaborations, paving the way for groundbreaking projects.
    </p>
  </div>
</div>

<app-footer></app-footer>
