/* Overall header styling for public pages */
header {
  background-color: #313030; /* Light gray background */
  color: #333;               /* Dark color for contrast */
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;                 /* Remove extra margin */
}

/* Container for the logo */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo styling: circular image */
.logo {
  height: 100px;
  margin-right: 10px;        /* Space between the logo and any adjacent content */
  max-width: 100%;
  border-radius: 50%;        /* Make the logo circular */
}

/* Container for authentication links (Login and Join Us) */
.auth-links-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Login button styling */
.login-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px; /* Space between the Login and Join Us buttons */
}

.login-button:hover {
  background-color: white;
  color: #313030;
}

/* Join Us button styling */
.join-us-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.join-us-button:hover {
  background-color: white;
  color: #313030;
}
