<header>
  <div class="logo-container">
    <img src="/assets/images/Collabfy_Project_Management_Logo.jpg" alt="Collabfy Logo" class="logo">
  </div>
  <div class="auth-links-container">
    <!-- If on the home page ("/") -->
    <ng-container *ngIf="currentUrl === '/'">
      <a routerLink="/login" class="login-button">&larr; Log in</a>
      <a routerLink="/create-account" class="join-us-button">Join Us &rarr;</a>
    </ng-container>
    <!-- If on the login page ("/login") -->
    <ng-container *ngIf="currentUrl === '/login'">
      <a routerLink="/" class="login-button">Go Back</a>
      <a routerLink="/create-account" class="join-us-button">Join Us &rarr;</a>
    </ng-container>
    <!-- If on the create account page ("/create-account") -->
    <ng-container *ngIf="currentUrl === '/create-account'">
      <a routerLink="/login" class="login-button">&larr; Log in </a>
      <a routerLink="/" class="join-us-button">Go Back</a>
    </ng-container>
  </div>
</header>
