<app-header-public></app-header-public>

<div class="login-page-container">
  <!-- Left side: Login form -->
  <div class="form-container">
    <h2>Log In</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>

  <!-- Right side: Informational text -->
  <div class="info-container">
    <p class="info-small">Collaborate Seamlessly</p>
    <h2 class="info-large">Fuel Your Innovations</h2>
    <p class="info-description">
      Welcome Back – Log in to reconnect with your team and power forward together.
    </p>
  </div>
</div>

<app-footer></app-footer>
